.mainNav {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

:root {
  --off-color: red;
}
.product main .breadcrumbs,
.product main img {
  grid-column: 1/-1;
}

.productlist main h2 {
  grid-column: 1/-1;
}

.productlist main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 300px));
  gap: 2rem;
}

.productlist article.onSale .discounted {
  display: flex;
  justify-content: space-between;
}

.breadcrumbs {
  list-style-type: none;
  display: flex;
}

.purchaseBox {
  background: #d8d8d8;
  color: var(--background-color);
  padding: 1rem;
}

.purchaseBox form label {
  gap: 1rem;
}

.product main {
  display: grid;
}

.productlist article.soldOut img {
  opacity: 0.5;
}
.productlist article > * {
  margin: 0;
  font-size: 0.9rem;
}

.discounted p:last-child {
  background: var(--off-color);
  padding: 0.2rem;
}
.discounted > p {
  margin-bottom: 0;
}

.discounted p:last-child {
  background: var(--off-color);
  padding: 0.2rem;
}

.productlist article {
  margin-bottom: 1rem;
}
.productlist article {
  display: flex;
  flex-direction: column;
}
